.bstgameanim{
    animation-name: rotatebstgame;
    animation-duration:  2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes rotatebstgame {
    0%{transform: rotateZ(0deg)}
    2%{transform: rotateZ(3deg)}
    4%{transform: rotateZ(-3deg)}
    6%{transform: rotateZ(0deg)}
}
html,
body {
    margin: 0;
    height: 100%;
    font-family: 'DejaVu Serif', Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    cursor: url("images/Ecliz/Arrow.cur"), default;
}
#maindiv{
    background-image:url(images/backqr.jpg);
    width: 100%;
    height: 100%;
    background-size: 100%,100%;
    background-repeat: no-repeat;
    position: absolute;
}
#divheader{
    clear: both;
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#divbuttons{
    float: left;
    width: 30%;
    height: 60%;
    padding-left: 7% ;
    padding-top: 15%;
}
#divheader > img{
    position: absolute;
}
.outtextheader{
    background-image: url("images/charli-02.gif");
    background-size: contain;
    border-color: #353d50;
    border-width: 5px;
    border-style: solid;
    border-radius:80px;
    color: #7A5632;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 20%;
    height: 8%;
}
.textheader{
    width: 100%;
    height: 100%;
    background-image: url("images/13881.jpg");
    background-size: cover;
    background-color: #500f0b;
    border-color: #353d50;
    border-width: 5px;
    border-style: solid;
    border-radius:80px;
    position: absolute;
    text-align:center;
    font-style: italic;
    font-size: 25px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.outtextheader :hover{
    border-color: red;
}
.animatedhoverbtn{
    transform: translateX(-30%);
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}
.animatedleavebtn{
    transform: translateX(0%);
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}
#article{
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-weight: bold;
    color: #A3BFA6;
    font-family: 'Comic Sans MS','DejaVu Serif', Georgia, 'Times New Roman', Times, serif, fantasy;
    font-size: large;
    border: 60px solid transparent;
    border-image: url(images/ram.jpg) 14% 20% stretch round;
    width: 60%;
    height: 100%;
    background-image: url(images/_3544-132.jpg);
    background-size: cover;
    padding: 3%;
}

#descript{
    padding: 0% 0% 10% 10%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: right;
    width: 50%;
    height:75%;
    position: relative;
}